
<div class="info">
  <h4>Here are the most compatible couples. See what they're all about and invite them for and outing!</h4>
</div>

<div id="profile menu">

  <%= link_to(image_tag('1.jpg'), profile_path, :id => 'centerbutton') %>

  <ul class="circles">
    <li><%= link_to image_tag('2.jpg'), :action => 'profile', :remote => true %></li>
    <li><a href="" title=""><%= image_tag '3.jpg' %></a></li>
    <li><a href="" title=""><%= image_tag '4.jpg' %></a></li>
    <li><a href="" title=""><%= image_tag '5.JPG' %></a></li>
    <li><a href="" title=""><%= image_tag 'couple.jpg' %></a></li>
    <li><a href="" title=""><%= image_tag 'Couple2.jpg' %></a></li>
  </ul>

</div><!--End Menu-->