<!-- Modal 1 -->
<div id="modal1" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Which Would You Prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Movies", class: "modal-image1") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Concert", class: "modal-image1") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Board%20Games", class: "modal-image1") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 2 -->
<div id="modal2" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Food: What would you prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Vegetarian", class: "modal-image2") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Ethnic", class: "modal-image2") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=American", class: "modal-image2") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 3 -->
<div id="modal3" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Drinks: What would you prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Wine", class: "modal-image3") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Beer", class: "modal-image3") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Soda", class: "modal-image3") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 4 -->
<div id="modal4" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nightlife: Would You Rather Go....</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Dancing", class: "modal-image4") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Lounge", class: "modal-image4") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Pub", class: "modal-image4") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 5 -->
<div id="modal5" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Athletics: What would you prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Hiking", class: "modal-image5") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Dodgeball", class: "modal-image5") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Yoga", class: "modal-image5") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>


<!-- Modal 6 -->
<div id="modal6" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Travel: What would you prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=OutDoor%20Excursion", class: "modal-image6") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Road%20Trip", class: "modal-image6") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Farmer%20Market", class: "modal-image6") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 7 -->
<div id="modal7" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Culture: What would you prefer?</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Broadway", class: "modal-image7") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Comedy%20Show", class: "modal-image7") %>
        </li>
        <li>
					<%= image_tag("http://placehold.it/200x200&text=Museum", class: "modal-image7") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 8 -->
<div id="modal8" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">This is last step before your wonderful experience start.</h3>
  </div>
  <div class="modal-body">
      <h3>Profile Information goes here, Form will come here</h3> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<h1>Questionnaire</h1>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn modal-btn" data-toggle="modal">Click to answer some questions</a>
 


<script type="text/javascript">

$('.modal-btn').on('click', function() {
      //alert($(this).text());
      $('body').modalmanager('loading');
      
      setTimeout(function(){
		    $("#modal1").modal({ width: '750px'
		    });
		  }, 500);
      
    });
<% (1..7).each do |i| %>
$(".modal-image<%= i %>").on('click', function() {
      //alert($(this).text());
      $("#modal<%= i %>").modal("hide");
      $('body').modalmanager('loading');
      
      setTimeout(function(){
		    $("#modal<%= i + 1 %>").modal({ width: '750px'
		    });
		  }, 500);
      
    });
    
<% end %>
$(".modal-image8").on('click', function() {
      //alert($(this).text());
      $("#modal8").modal("hide");
      $('body').modalmanager('loading');
      /* Redirect to main page */
      
    });
</script>

<style type="text/css">
	.modal, .modal.fade.in {
    top: 40% !important; /* was 10% */
	}
  ul {
    list-style: none;
    text-align: center;
  }
  ul li {
    margin: 5px;
    display: inline-block;
  }
</style>




