<!-- Modal 1 -->
<div id="modal1" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Which Would You Prefer?  (1 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/movie.jpg", class: "modal-image1") %>
        </li>
        <li>
					<%= image_tag("profiles/concert.jpg", class: "modal-image1") %>
        </li>
        <li>
					<%= image_tag("profiles/board_games.jpg", class: "modal-image1") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 2 -->
<div id="modal2" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Food: What would you prefer? (2 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/veg.jpg", class: "modal-image2") %>
        </li>
        <li>
					<%= image_tag("profiles/ethnic.jpg", class: "modal-image2") %>
        </li>
        <li>
					<%= image_tag("profiles/american.jpg", class: "modal-image2") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 3 -->
<div id="modal3" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Drinks: What would you prefer? (3 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/wine.jpg", class: "modal-image3") %>
        </li>
        <li>
					<%= image_tag("profiles/beer.jpg", class: "modal-image3") %>
        </li>
        <li>
					<%= image_tag("profiles/soda.jpg", class: "modal-image3") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 4 -->
<div id="modal4" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nightlife: Would You Rather Go.... (4 of 8) </h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/dancing.jpg", class: "modal-image4") %>
        </li>
        <li>
					<%= image_tag("profiles/lounge.jpg", class: "modal-image4") %>
        </li>
        <li>
					<%= image_tag("profiles/pub.jpg", class: "modal-image4") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 5 -->
<div id="modal5" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Athletics: What would you prefer? (5 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/hiking.jpg", class: "modal-image5") %>
        </li>
        <li>
					<%= image_tag("profiles/dodgeball.jpg", class: "modal-image5") %>
        </li>
        <li>
					<%= image_tag("profiles/yoga.jpg", class: "modal-image5") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>


<!-- Modal 6 -->
<div id="modal6" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Travel: What would you prefer? (6 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/outdoor.jpg", class: "modal-image6") %>
        </li>
        <li>
					<%= image_tag("profiles/roadtrip.jpg", class: "modal-image6") %>
        </li>
        <li>
					<%= image_tag("profiles/farmers_market.jpg", class: "modal-image6") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 7 -->
<div id="modal7" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Culture: What would you prefer? (7 of 8)</h3>
  </div>
  <div class="modal-body">
      <ul>
        <li>
					<%= image_tag("profiles/broadway.jpg", class: "modal-image7") %>
        </li>
        <li>
					<%= image_tag("profiles/comedy.jpg", class: "modal-image7") %>
        </li>
        <li>
					<%= image_tag("profiles/museums.jpg", class: "modal-image7") %>
        </li>
      </ul>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<!-- Modal 8 -->
<div id="modal8" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">One last step. Please fill your profile below. (8 of 8) </h3>
  </div>
  <div class="modal-body">
      <h3>Profile Information goes here, Form will come here</h3> 
      <!-- START FORM -->
      <form class="form-horizontal" action="/profile" method="post">
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Email" value="damone@damonefrankline.com">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">Password</label>
					<div class="controls">
						<input type="password" id="inputPassword" placeholder="Password">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputName">Your Name</label>
					<div class="controls">
						<input type="text" id="inputName" placeholder="Your Full Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPartnerName">Partner Name</label>
					<div class="controls">
						<input type="text" id="inputPartnerName" placeholder="Your Partner's Name Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAge">Age</label>
					<div class="controls">
						<input type="text" id="inputAge" placeholder="Age">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAddress">Enter your Address</label>
					<div class="controls">
						<textarea rows="3" id="inputName"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPic">Profie Picture</label>
					<div class="controls">
						<input type="file">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
      <!-- END FORM -->
  </div>
  <div class="modal-footer">
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Skip</button>-->
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>



<!-- Old page-->
<!--<h1>Questionaire</h1>
<!-- Button to trigger modal
<a href="#myModal" role="button" class="btn modal-btn" data-toggle="modal">Click to answer some questions</a>-->
<h2>The way couples connect with other couples</h2>
<div class="splash">
  <%= form_tag(questions_path) do  %>
    <div>
      <%= label_tag :email do %>
        <%= text_field_tag :email, nil, autofocus: true, placeholder: "Enter your email to get started!" %>
      <% end %>
      <%= submit_tag 'Go!', :class => "button" %>
    </div>
  <% end %>  
</div>
 
 


<script type="text/javascript">

$('body').modalmanager('loading');
      setTimeout(function(){
		    $("#modal8").modal({ width: '750px'
		    });
		  }, 500);


$('.modal-btn').on('click', function() {
      //alert($(this).text());
      $('body').modalmanager('loading');
      
      setTimeout(function(){
		    $("#modal1").modal({ width: '750px'
		    });
		  }, 500);
      
    });
<% (1..7).each do |i| %>
$(".modal-image<%= i %>").on('click', function() {
      //alert($(this).text());
      $("#modal<%= i %>").modal("hide");
      $('body').modalmanager('loading');
      
      setTimeout(function(){
		    $("#modal<%= i + 1 %>").modal({ width: '750px'
		    });
		  }, 500);
      
    });
    
<% end %>
$(".modal-image8").on('click', function() {
      //alert($(this).text());
      $("#modal8").modal("hide");
      $('body').modalmanager('loading');
      /* Redirect to main page */
      
    });
</script>

<style type="text/css">
	.modal, .modal.fade.in {
    top: 40% !important; /* was 10% */
	}

  
  ul {
    list-style: none;
    text-align: center;
  }
  ul li {
    margin: 5px;
    display: inline-block;
  }
  
  .modal-header {
  	color:brown;
  }
  .modal-header h3 {
  	color:brown;
  }
  
  .form-horizontal .control-label {
  	color: black;
  }
  
  img {
  	width:200px;
  	height: 200px;
  }
</style>




